#wrapper
        width: 100%
        height: 100%
        .contactsList
            width: 100%
            height: 90%
            overflow: scroll
            .contactsHead
                color: white
                width: 100%
                height: 50px
                background: rgba(0, 0, 0, 0.8)
                padding: 1% 0 1%
                display: flex
                justify-content: space-between
                align-items: center
                div
                    width: 14%
                    text-align: center
                    &:first-child, &:last-child
                        width: 5%
        .contacts
            width: 100%
            display: flex
            justify-content: space-between
            &:nth-child(odd)
                    background: rgba(0, 0, 0, 0.2)
            div 
                // display: inline-block
                font-size: 14px
                width: 14%
                text-align: center
                padding: 5px 0 5px
                &:first-child, &:last-child
                    width: 5%

.contactsHead, .contacts
    min-width: 750px
               