#container
    .contactsListMenu
        height: 10%
        min-height: 55px
        background: black
        .buttons
            font-size: 12px
            cursor: pointer
            padding: 5px 5px