#wrapper
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    .contactsListTable
        width: 100%
        height: 90%
        // overflow-x: scroll
        .contactsListHead
            // background: rgba(#555, 0.3)
            width: 100%
            min-width: 800px
            display: flex
            justify-content: center
            align-items: center
            padding-right: 18px
            margin-bottom: 0.5%
            .contactsListRow
                background: rgba(#c93131, 1)
                color: #fff
                width: 100%
                padding: 0.5% 0 0.5%
                display: flex
                align-items: center
                justify-content: space-around
                div 
                    // background: green
                    font-size: 14px
                    font-weight: 500
                    width: 17%
                    text-align: center
                    padding: 5px 4px 5px
                    &:first-child, &.iconButHead
                        width: 4%
                        min-width: 60px
                    // input
                    //     cursor: pointer



.contactsListBody
    width: 100%
    height: calc(99.5% - 60px)
    overflow-y: scroll
    min-width: 800px
    .contactsListRow
        width: 100%
        display: flex
        justify-content: space-around
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        // margin-bottom: 10px
        transition: all .2s
        // &:nth-child(odd)
        //     background: rgba(#555, 0.1)
        &:hover
            background: rgba(#ddd, 0.3)
        div 
            // background: green
            font-size: 14px
            width: 17%
            text-align: center
            display: flex
            justify-content: center
            align-items: center
            padding: 5px 4px 5px
            word-break: break-all
            &:first-child, &.iconBut
                width: 4%
                min-width: 60px


.iconBut
    cursor: pointer
    *
        font-size: 18px
        &:hover
            color: #3cb371


::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	background-color: #F5F5F5

::-webkit-scrollbar
	width: 16px
	background-color: #F5F5F5

::-webkit-scrollbar-thumb
	background-color: #aaa
	background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 30%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)





@media only screen and (max-width: 850px)
    .contactsListTable
        overflow-x: scroll
        overflow-y: hidden