.header
    height: 10%
    min-height: 58px
    max-height: 100px;
    font-family: Orbitron
    color: $font-color
    background: $header-bg
    display: flex
    align-content: center
    .size
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1% 2%
        #logo
            width: 6%
            min-width: 32px
            max-width: 85px
            a 
                display: inline-block
                img 
                    width: 100%
        h1 
            text-align: end
            font-size: 35px
            font-family: Times
            span 
                font-size: 30px
                font-family: Times
                color: $header-span

@media only screen and (max-width: 640px) 
    .header
        h1 
            font-size: 24px
            span 
                font-size: 11px
