
.mailinglist
    ul 
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding: 20px
        padding-right: 30px

    li        
        margin-right: 1%
        min-width: 235px
        max-width: 375px
        font-family: Arial, Helvetica, sans-serif
        width: 50%
        border-left: 5px solid #c93131
        margin-bottom: 7px
        display: flex
        background-color: #38535e
        padding: 7px
        align-items: center
        font-size: 18px
        .mlName
            width: 70%
            padding-left: 7%
            flex-grow: 10
            flex-shrink: 2
            color: white
            &:hover
                color: #c93131
        .sendML, .deleteML
            cursor: pointer
            color: white
            flex-grow: 2
            display: flex
            justify-content: center
            align-items: center
            font-size: 25px
            &:hover 
                color: #c93131
        
.deleteML 
    label
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
