.popupWrap
    color: white
    background: $popupWrap-bg
    left: 0
    top: 0
    width: 100%
    height: 100%
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    z-index: 100
    .popupContent
        font-size: 14px
        width: 40%
        min-width: 310px
        max-width: 500px
        height: 50%
        min-height: 280px
        max-height: 400px
        background: $popupCont-bg
        padding: 1%
        display: flex
        justify-content: center
        align-items: center
        position: relative
        animation: animate .3s ease
        .popupSize
            text-align: end
            .popupButtons
                display: flex
                justify-content: space-around
                button
                    background: transparent
                    padding: 0.35em 1.2em
                    border: 0.1em solid #FFFFFF
                    margin: 0 0.3em 0.3em 0
                    border-radius: 0.12em
                    font-weight: 300
                    color: #FFFFFF
                    text-align: center
                    transition: all .2s
                    &:hover
                        color: #000
                        background: #fff
            div
                margin-top: 1%
                input
                    margin-left: 5px
                p 
                    height: 22px
                    text-align: end


@keyframes animate
  0%
    transform: scale(0.2)
  100%
    transform: scale(1)